
db/development.sqlite3

log/development.log

.DS_Store
*.log
tmp
.idea/.generators
.idea/.name
.idea/.rakeTasks
.idea/dataSources.ids
.idea/dataSources.xml
.idea/encodings.xml
.idea/icheckgames.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
