<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @platform.name %>
</p>

<p>
  <b>Overview:</b>
  <%= @platform.overview %>
</p>

<p>Games</p>
<% @platform.games.each do |game| %>
<p>
	<b>Title:</b>
	<%= link_to game.GameTitle, game %>
</p>
<% end %>
