<h1>Search</h1>

<%= render 'search' %>

<% if @search_results %>
	<table>
	  <tr>
	    <th>Name</th>
	  </tr>

	<% @search_results.each do |game| %>
	  <tr>
	    <td><%= link_to game.title, game %></td>
	  </tr>
	<% end %>
	</table>
<% end %>

<br />