body{
  background: #e8e8e8;
  font-size: 14px;
}
.center-container .container{ margin: 0 auto; width: 960px;}
.header-container{
  overflow: hidden;
  background: #03166b;
  position: relative;
  padding: 20px 20px 0 20px;
  
  header{
    background: url(/assets/logo.png) no-repeat;
  }
  
  h1 { margin: 0; padding-top: 64px;
    padding-left: 85px;    
    display: block;
    font-size: 36px;
  }
  a{ color: white; text-decoration: none;}
  a:hover{ text-decoration: underline;}
  .home-link:hover{ text-decoration: none;}
}
.main-navigation{
  #search {float: right; padding-right: 20px; line-height: 45px; margin: 0; background: #425090; overflow: hidden;}
  ul{ padding: 0; margin: 0; background: #425090; overflow: hidden;
    li { float: left; padding-left: 20px; line-height: 45px;}
  }
}
.main-content-container .container{
  padding: 20px; 
  width: 920px;
  background: #f2f2f2;
}
