<p id="notice"><%= notice %></p>

<p>
  <b>Rating:</b>
  <%= @game_stash_datum.rating %>
</p>


<%= link_to 'Edit', edit_game_stash_datum_path(@game_stash_datum) %> |
<%= link_to 'Back', game_stash_data_path %>
